[http]
  # ----------------------------------------------------------------
  # HTTP Router - Routes based on Host header
  # This will handle your ingress host: app.<proxy_ip>.nip.io
  # ----------------------------------------------------------------
  [http.routers.to-k3s-ingress]
    entryPoints = ["web"]
    rule = "HostRegexp(`{host:.+}.nip.io`)"
    service = "k3s-ingress-http"

  [http.services.k3s-ingress-http.loadBalancer]
  {% for host in groups['k3s_workers'] %}
    [[http.services.k3s-ingress-http.loadBalancer.servers]]
      url = "http://{{ hostvars[host]['private_ip'] }}:{{ traefik_web_nodeport }}"
  {% endfor %}

  # ----------------------------------------------------------------
  # HTTPS Router - Routes based on Host header (TLS termination)
  # ----------------------------------------------------------------
  [http.routers.to-k3s-ingress-secure]
    entryPoints = ["websecure"]
    rule = "HostRegexp(`{host:.+}.nip.io`)"
    service = "k3s-ingress-https"
    [http.routers.to-k3s-ingress-secure.tls]

  [http.services.k3s-ingress-https.loadBalancer]
  {% for host in groups['k3s_workers'] %}
    [[http.services.k3s-ingress-https.loadBalancer.servers]]
      url = "https://{{ hostvars[host]['private_ip'] }}:{{ traefik_websecure_nodeport }}"
  {% endfor %}

[tcp]
  # ----------------------------------------------------------------
  # Fallback TCP routing for direct NodePort access
  # ----------------------------------------------------------------
  [tcp.routers.to-k3s-nodeport-http]
    entryPoints = ["web"]
    rule = "HostSNI(`*`)"
    service = "k3s-workers-http"

  [tcp.services.k3s-workers-http.loadBalancer]
  {% for host in groups['k3s_workers'] %}
    [[tcp.services.k3s-workers-http.loadBalancer.servers]]
      address = "{{ hostvars[host]['private_ip'] }}:{{ traefik_web_nodeport }}"
  {% endfor %}

  # ----------------------------------------------------------------
  # HTTPS Traffic (Port 443)
  # Forward all traffic on Port 443 to the Workers' Traefik NodePort (websecure)
  # ----------------------------------------------------------------
  [tcp.routers.to-k3s-https]
    entryPoints = ["websecure"]
    rule = "HostSNI(`*`)"
    service = "k3s-workers-https"

  [tcp.services.k3s-workers-https.loadBalancer]
  {% for host in groups['k3s_workers'] %}
    [[tcp.services.k3s-workers-https.loadBalancer.servers]]
      address = "{{ hostvars[host]['private_ip'] }}:{{ traefik_websecure_nodeport }}"
  {% endfor %}