{% set ck = (cluster_name | default('cluster') | replace('-', '_')) %}
{% set rg = (resource_group | default('rg')) %}

[http]
  [http.serversTransports.k3s_{{ ck }}_insecure]
    insecureSkipVerify = true

  # HTTP Router - redirect to HTTPS
  [http.routers.to_k3s_{{ ck }}_ingress]
    entryPoints = ["web"]
    rule = "HostRegexp(`{app:.+}.{{ rg }}.orchestronic.dev`)"
    middlewares = ["redirect-to-https"]
    service = "k3s_{{ ck }}_ingress_http"

  [http.middlewares.redirect-to-https.redirectScheme]
    scheme = "https"
    permanent = true

  [http.services.k3s_{{ ck }}_ingress_http.loadBalancer]
    passHostHeader = true
  {% for host in groups['k3s_workers'] %}
    [[http.services.k3s_{{ ck }}_ingress_http.loadBalancer.servers]]
      url = "http://{{ hostvars[host]['private_ip'] }}:{{ traefik_web_nodeport }}"
  {% endfor %}

  # HTTPS Router
  