[entryPoints]
  [entryPoints.web]
    address = ":80"
  [entryPoints.websecure]
    address = ":443"

[providers]
  [providers.file]
    directory = "/etc/traefik/dynamic"
    watch = true

[api]
  dashboard = true
  insecure = true  # Be careful with this in production!